.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 944px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-family: StratosSkyeng;
  color: white;
}

.button {
  width: 246px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  background: #7ac100;

  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  /* Pres → Caption S */
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  text-decoration: none;

  border: none;

  cursor: pointer;
}

.button:hover {
  background: #7ac100cc;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.boardNames {
  background: white;
  border-radius: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #999999;
  font-family: StratosSkyeng;
  font-size: 24px;
}

.boardRating {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boardRatingPlace {
  background: white;
  border-radius: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-family: StratosSkyeng;
  font-size: 24px;
}
