.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 944px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-family: StratosSkyeng;
  color: white;
}

.button {
  width: 246px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  background: #7ac100;

  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;

  /* Pres → Caption S */
  font-family: StratosSkyeng;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  text-decoration: none;

  border: none;

  cursor: pointer;
}

.button:hover {
  background: #7ac100cc;
}

.board {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
}

.boardNames {
  background: white;
  border-radius: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #999999;
  font-family: StratosSkyeng;
  font-size: 24px;
}

.boardRating {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boardRatingPlace {
  background: white;
  border-radius: 12px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  font-family: StratosSkyeng;
  font-size: 24px;
}

.grid {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

/* .toolTip:hover{
  display: flex;
  position: absolute;
  height: 78px;
  width: 174px;
  color: black;
  border-radius: 12px;
  background-color: #C2F5FF;
  text-align: center;
  align-items: center;
} */

/* Контейнер подсказок */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Текст подсказки */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 174px;
  background-color: #555;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 12px;
  background-color: #C2F5FF;

  /* Расположите текст подсказки */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Исчезают в подсказке */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Подсказка стрелка */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}